.radioItem {
  @apply mr-8;
}

.radioCheck {
  @apply inline-block w-4 h-4 border border-primary rounded-full mr-2;
  transform: translateY(2px);

  .radioItem:hover & {
    @apply bg-primary-light;
  }

  &.checked {
    @apply border-2;
  }

  &::after {
    content: "";
    @apply absolute rounded-full top-1/2 left-1/2 w-2 h-2 transform -translate-x-1/2 -translate-y-1/2 scale-0 bg-primary transition-transform;
  }
}

.checked {
  &::after {
    content: "";
    @apply absolute rounded-full top-1/2 left-1/2 w-2 h-2 transform -translate-x-1/2 -translate-y-1/2 bg-primary;
  }
}
